@import "tailwindcss";

@theme {
  --color-dark-absolute: #000000;
  --color-dark-elevated: #050505;
  --color-dark-card: #0a0a0a;
  --color-neon-accent: #00ff66;
  --color-neon-glow: rgba(0, 255, 102, 0.15);
  --color-neutral-border: #1a1a1a;

  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark-absolute);
    color: #ffffff;
    font-family: var(--font-inter);
  }
}
